body {
  margin: 0;
  font-family: Arial, sans-serif;
}
.BarraNavegador_C{
  display: flex;
  flex-direction: column;
  align-items: center; /* Alinha horizontalmente o conteúdo */
  height: 100vh; /* Altura total da tela */
  
}

.BarraNavegador{

  width: 100%; /* A barra de navegação ocupa toda a largura */
  background-color: #E6F5E8;
  padding: 25px ; /* Espaçamento interno da barra */
  justify-content: space-between;
  align-items: center;
  position: relative;
  
}

nav {
  
  padding: 1rem;
  border-radius: 5%;
  border: 10px solid #C3E6D4;
}

.BarraNavegador ul {
  width: 100vw;
  list-style-type: none; /* Remove os marcadores da lista */
  margin: 0; /* Remove margem */
  padding: 0; /* Remove padding */
  display: flex; /* Exibe os itens em linha */
  justify-content: center; /* Centraliza os itens na barra */
}

.BarraNavegador li{
  margin: 0 15px;
}

.BarraNavegador ul li a {
  color: #734818;
  text-decoration: none;
}

.BarraNavegador ul li a:hover {
  text-decoration: underline;
}

.centered-element {
  background-color: lightblue; /* Cor de fundo do elemento */
  padding: 20px;
  border: 1px solid blue; /* Borda do elemento */
  text-align: center; /* Centraliza texto */
}
